<article>
    <a href="/dashboard"> &larr; Back to dashboard</a>
    <h2>
        Edit Post
    </h2>
    <form class="edit-post-form">
        <div>
            <h4>Modify Post Title Below</h4>
            <input name="post-title" type="text" value="{{post.title}}" />
            <h4>Modify Your Post Content Below</h4>
            <input name="edit-content" type="text" value="{{post.content}}" />
            {{!-- <span>({{format_url post.post_url}})</span> --}}
        </div>
        <div>
            {{!-- {{post.vote_count}} {{format_plural "point" post.vote_count}} by you on {{format_date
            post.created_at}} --}}
            |
            {{!-- {{post.id}} --}}
            {{!-- <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment"
                post.comments.length}}</a>
        </div> --}}
        <button type="submit">Save post</button>
        {{!-- <button type="button" class="delete-post-btn">Delete post</button> --}}
    </form>
</article>

<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button id="submitComment" type="submit">add comment</button>
    </div>
</form>

{{!-- <div class="comments">
    {{#each this}}
    <section class="comment">
        <div class="meta">
            {{user.username}} 
        </div>
        <div class="text">
            {{comment_text}}
        </div>
    </section>
  
    {{/each}}
</div> --}}

{{> comments post.Comments}}


<script src="/javascript/edit-post.js"></script>
{{!--
<script src="/javascript/delete-post.js"></script> --}}
<script src="/javascript/comment.js"></script>