<section id='user' class='superbox-list constainer-fluid grid'>
	{{#each users}}
		<div class='main-feed user'>
			<div class='row' id='user-feed-card'>
				<div class='col mb-3'>
					<div class='card grid'>

						<img
							src='/assets/images/sign-up.png'
							alt='Cover'
							class='card-img-top'
						/>

						<div class='card-body text-center'>
							<div class='user-avatar'>
								<a href='/profile/user/{{id}}'><img
										src='https://bootdey.com/img/Content/avatar/avatar{{id}}.png'
										style='width:120px;margin-top:-95px; border-radius: 15px;'
										alt='User'
										class='img-fluid img-thumbnail rounded-corners border-0 mb-3'
									/></a>
							</div>
							<h2 class='card-title' align='center'><strong
								>{{username}}{{interest_id}}
									{{Interest_Category}}
								</strong></h2>
							<br />

							<div class='Interests'>

								{{!-- {{#each Interests}} --}}
								<section class='interest'>
									<div class='meta'>
										{{email}}
										{{!-- on
											{{format_date created_at}} --}}
									</div>
									{{!-- <div class='text'>
										{{Interest_Category}}
									</div> --}}
								</section>
								{{!-- {{/each}} --}}
							</div>
							<div class='interests'>
								<h3><strong>Interests:</strong></h3>
								<li> {{interestOne}}</li>
								<li> {{interestTwo}}</li>
								<li> {{interestThree}}</li>
								<li> {{interestFour}}</li>
								<li> {{interestFive}}</li>
							</div>
						</div>
					</div>
					<div class='card-footer'>
						<button
							class='btn btn-light btn-sm bg-white has-icon btn-block'
							type='button'
						><i class='material-icons'>add</i>Follow</button>
						<button
							class='btn btn-light btn-sm bg-white has-icon ml-2'
							type='button'
						><svg
								xmlns='http://www.w3.org/2000/svg'
								width='24'
								height='24'
								viewBox='0 0 24 24'
								fill='none'
								stroke='currentColor'
								stroke-width='2'
								stroke-linecap='round'
								stroke-linejoin='round'
								class='feather feather-message-circle'
							><path
									d='M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z'
								></path></svg></button>
					</div>
				</div>
			</div>
		</div>
	{{/each}}
	<div class='footer'>
		<h4 class='footer-title'>
			This is the footer!
		</h4>
	</div>
</section>

<script src='/javascript/user-feed.js'></script>