{{!-- {{> interest-buttons interests}} --}}
<link
	href='/public/stylesheets/user-profile.css'
	rel='stylesheet'
/>

<section id='content' class='container'>
	<!-- Begin .page-heading -->
	<div class='page-heading'>
		<div class='media clearfix'>
			<div class='media-left pr30'>
				<a href='#'>
					<img
						class='media-object mw150'
						src='https://bootdey.com/img/Content/avatar/avatar7.png'
						alt='...'
					/>
					
				</a>
			</div>
			<div class='media-body va-m'>
				<h2 class='media-heading'>
					{{faker "name.findName"}}
					
				</h2>
				
				
			</div>
		</div>
	</div>

	<div class='row'>
		<div class='col-md-4'>

			<div class='panel'>
				<div class='panel-heading'>
					{{!-- <span class='panel-icon'>
						<i class='fa fa-trophy'></i>
					</span> --}}
					<h3>
						<span class='panel-title'> My Interests</span>
					</h3>
				</div>
				<div class="col">
					<div class='panel-body pb5'>
					{{!-- {{> interest-buttons user.interests}} --}}
<li>Interest: {{faker "lorem.words" 1}}</li>
<li>Interest: {{faker "lorem.words" 1}}</li>
<li>Interest: {{faker "lorem.words" 1}}</li>
<li>Interest: {{faker "lorem.words" 1}}</li>
<li>Interest: {{faker "lorem.words" 1}}</li>
				</div>
				</div>
			</div>
			<div class="row">
				<div class='panel'>
				<div class='panel-heading'>
					{{!-- <span class='panel-icon'>
						<i class='fa fa-pencil'></i>
					</span> --}}
					<br>
					<h3>
						<span class='panel-title'>About Me</span>
					</h3>
				</div>
				<div class='panel-body pb5'>

					<h6>What I do</h6>

					<h4>{{faker "hacker.adjective" }}</h4>
					<p class='text-muted'>
						

					<hr class='short br-lighter' />

					<h5>Who I am</h5>
<h4>{{faker "hacker.adjective" }}</h4>
					

					<hr class='short br-lighter' />

					<h5>Why me</h5>

					<h4>{{faker "hacker.phrase" }}</h4>
					<p class='lead'>{{faker "hacker.adjective"}}</p>

				</div>
			</div>
			</div>
		</div>
		<div class='col-md-8'>

			<div class='tab-block'>
				<ul class='nav nav-tabs'>
					<li class='active'>
						<a href='#tab1' data-toggle='tab'>My Feed</a>
					</li>
					<li>
						<a href='#tab1' data-toggle='tab'>Favorites</a>
					</li>
					<li>
						<a href='/user' data-toggle='tab'>High 5!</a>
					</li>
				</ul>
				{{!-- {{> user-feed }} --}}
			</div>
		</div>
	</div>
</section>

<script src="/sign-up"></script>
<script src="/public/javascript/user-feed.js"></script>