{{!-- {{> interest-buttons interests}} --}}


<section id='content' class='container'>
	<!-- Begin .page-heading -->
	<div class='page-heading'>
		<div class='media clearfix'>
			<div class='media-left pr30'>
				<a href='#'>
					<img
						class='media-object mw150'
						src='https://bootdey.com/img/Content/avatar/avatar7.png'
						alt='...'
					/>
					
				</a>
			</div>
			<div class='media-body va-m'>
				<h2 class='media-heading'>
					{{user.username}}
					
				</h2>
				
				
			</div>
		</div>
	</div>

	<div class='row'>
		<div class='col-md-4'>

			<div class='panel'>
				<div class='panel-heading'>
					{{!-- <span class='panel-icon'>
						<i class='fa fa-trophy'></i>
					</span> --}}
					<h3>
						<span class='panel-title'> My Interests</span>
					</h3>
				</div>
				<div class="col">
					<div class='panel-body pb5'>
						
<li>Interest: {{user.interest_id}}</li>
<li>Interest: {{user.Interest_Category}}</li>
<li>Interest: {{interest_id}}</li>
<li>Interest: {{Interest_Category}}</li>
				</div>
				</div>
			</div>
			<div class="row">
				<div class='panel'>
				<div class='panel-heading'>
					{{!-- <span class='panel-icon'>
						<i class='fa fa-pencil'></i>
					</span> --}}
					<br>
					
					<section>
						<h2>Create New Post</h2>
					
						<form class="new-post-form">
							<div>
								<label for="post-title">Title</label>
								<input type="text" id="post-title" name="post-title" />
							</div>
							<div>
								<label for="content">Content</label>
								<input id="content" name="content" />
							</div>
							<button type="submit" class="btn">Create</button>
						</form>
					</section>
					
					{{#if posts.length}}
					<section>
						<h2>Your High Five Posts</h2>
						<ol>
							{{#each posts as |post|}}
							<li>
								{{!-- {{> post-info post}} --}}
								<p>{{title}}</p>
								<p>{{content}}</p>
					
								<a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
								<a href="/profile/edit/{{id}}">{{comments.length}} see comment(s)</a>
							</li>
							{{/each}}
						</ol>
					</section>
					
					{{/if}}
					
					
				</div>
			</div>
			</div>
		</div>
		{{!-- <div class='col-md-8'>

			<div class='tab-block'>
				<ul class='nav nav-tabs'>
					<li class='active'>
						<a href='/profile' data-toggle='tab'>Add Post</a>
					</li>
					<li>
						<a href='/dashboard' data-toggle='tab'>Comments</a>
					</li>
					<li>
						<a href="/user-feed" id='user-feed' data-toggle='tab'>user-feed</a>
					</li>
				</ul>
				
			</div>
		</div> --}}
	</div>
</section>

<script src="/javascript/add-post.js"></script>
<script src="/javascript/comment.js"></script>
<script src="/javascript/user-feed.js"></script>
{{!-- <script src="/javascript/profile.js"></script> --}}