{{!-- {{> interest-buttons interests}} --}}

<section id='content' class='container'>
	<!-- Begin .page-heading -->
	<div class='page-heading'>
		<div class='profile-container'>
			<div class='media clearfix'>
				<div class='media-left pr30'>
					<a href='#'>
						<img
							class='media-object mw150'
							src='https://bootdey.com/img/Content/avatar/avatar7.png'
							alt='...'
						/>
					</a>
				</div>

			</div>
		</div>
		{{#each this}}
			<div class='media-body va-m'>
				<h2 class='media-heading'>
					{{username}}
				</h2>
				<p>
					{{email}}
				</p>
			</div>
		{{/each}}
	</div>
	<div class='container'>
		<div class='profile-container'>
			<div class='user-panel-row'>
				<div class='col-md-4'>
					<div class='panel'>
						<div class='panel-heading'>
							<h3>
								<span class='panel-title'> <strong>My Interests</strong></span>
							</h3>
						</div>
						<div class='col'>
							<div class='interests panel-body pb5'>
								<!-- Find the interests for a given user and list them on their profile -->
								{{#each this}}
									<li> {{interestOne}}</li>
									<li> {{interestTwo}}</li>
									<li> {{interestThree}}</li>
									<li> {{interestFour}}</li>
									<li> {{interestFive}}</li>
								{{/each}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='container'>
		<div class='profile-container'>
			<div class='user-panel-row'>
				<div class='col-md-4'>
					<div class='panel'>
						<div class='panel-heading'>
							<h3>
								<span class='panel-title'> <strong>My Interests</strong></span>
							</h3>
						</div>
						<div class='col'>
							<div class='interests panel-body pb5'>
								<!-- Find the interests for a given user and list them on their profile -->
								{{#each this}}
									<li> {{interestOne}}</li>
									<li> {{interestTwo}}</li>
									<li> {{interestThree}}</li>
									<li> {{interestFour}}</li>
									<li> {{interestFive}}</li>
								{{/each}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script src='/javascript/add-post.js'></script>
<script src='/javascript/comment.js'></script>
<script src='/javascript/user-feed.js'></script>
<script src='/javascript/profile.js'></script>
<script src='/javascript/edit-post.js'></script>
<script src='/javascript/delete-post.js'></script>